@keyframes reducing-opacity-menu-buttons {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.6;
  }
}

@keyframes focus-underlining {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

@keyframes jumping-arrow {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(4px);
  }
}

@keyframes focus-shadow {
  from {
    box-shadow: none;
  }

  to {
    box-shadow: 4px 4px 0 0 var(--main-theme-color);
  }
}

@keyframes focus-border {
  from {
    outline: 2px solid transparent;
  }

  to {
    outline: 2px solid var(--main-theme-color);
  }
}

@keyframes sparks-active {
  from {
    fill: var(--content-bg-color);
  }
  to {
    fill: red;
  }
}

@keyframes heart-size-change {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}
