/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

@media (prefers-color-scheme: dark) {
  :root {
    --content-bg-color: #000;
    --main-theme-color: #00cc14;
    --main-font-weight: 465;
    --title-font-weight: 785;
    --bg-image: repeating-linear-gradient(
        to right,
        #000 0 2px,
        transparent 2px 4px
      ),
      repeating-linear-gradient(to bottom, #000 0 2px, transparent 2px 4px),
      linear-gradient(to bottom, #007f0c, #004306);
    --button-text-color: #00cc14;
    --heart-contuor-color: #00cc14;
  }
}

:root.theme-dark {
  --content-bg-color: #000;
  --main-theme-color: #00cc14;
  --main-font-weight: 465;
  --title-font-weight: 785;
  --bg-image: repeating-linear-gradient(
      to right,
      #000 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #000 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #007f0c, #004306);
  --button-text-color: #00cc14;
  --heart-contuor-color: #00cc14;
}

@media (prefers-color-scheme: light) {
  :root {
    --content-bg-color: #ffffff;
    --main-theme-color: #000;
    --main-font-weight: 400;
    --title-font-weight: 700;
    --bg-image: repeating-linear-gradient(
        to right,
        #d3d3d3 0 2px,
        transparent 2px 4px
      ),
      repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
      linear-gradient(to bottom, #e7e7e7, #1a1a1a);
    --button-text-color: #ffffff;
    --heart-contuor-color: #000;
  }
}

:root.theme-light {
  --content-bg-color: #ffffff;
  --main-theme-color: #000;
  --main-font-weight: 400;
  --title-font-weight: 700;
  --bg-image: repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7, #1a1a1a);
  --button-text-color: #ffffff;
  --heart-contuor-color: #000;
}
